---
const { title, snippet, author, date, collection, slug } = Astro.props;
const href = `/${collection}/${slug}`;
---

<div>
    <h6>
        <mark>
            <a href={href}>
                {title}
            </a>
        </mark>
    </h6>
    <p>
        {snippet}...
    </p>
    <slot />
    <small>
        by {author} on {date}
    </small>
</div>

<style>
    div {
        width: min(300px, 90vw);
        margin: 1em auto;
    }
</style>
